body{
	background-color: #7F7F7F;
}


h1{
	color: #700;
	text-align: center;
	font-size: 10em;
}

h2{
	text-align: left;
	background-color: #7F7F7F;
	color: #700;
	background: center;
}


